
// Job paramaters to set for this environment

metaphlan_db = "/ifs/data/nfs_share/ikmb_repository/databases/Metaphlan/2.0/mpa_v20_m200"

kaiju_db = "/ifs/data/nfs_share/ikmb_repository/databases/Kaiju/2018-06/refseq"

pathoscope_db = "/ifs/data/nfs_share/ikmb_repository/databases/Pathoscope/2015-06"

kneaddata_db = "/ifs/data/nfs_share/ikmb_repository/databases/Kneaddata/11-2019/drupal/Homo_sapiens_Bowtie2_hg37_decoys_contaminants_v0.1"

params {
	genomes {
                'human' {
                        kneaddata_db = "/ifs/data/nfs_share/ikmb_repository/databases/Kneaddata/11-2019/drupal/Homo_sapiens_Bowtie2_hg37_decoys_contaminants_v0.1"
                }
                'mouse' {
                        kneaddata_db = "/ifs/data/nfs_share/ikmb_repository/databases/Kneaddata/11-2019/mouse_C57BL_6NJ"
                }
        }
}

// Resource manager settings

executor {
  name="slurm"
  queueSize=50
}

// Process setting

process {

  // Global cluster parameters
  executor = 'slurm'
  queue = 'ikmb_a'
  clusterOptions = { '--qos=ikmb_a' }

}
