
// Job paramaters to set for this environment

metaphlan_db = "/ifs/data/nfs_share/ikmb_repository/databases/Metaphlan/2.0/mpa_v20_m200"

kaiju_db = "/ifs/data/nfs_share/ikmb_repository/databases/Kaiju/2018-06/refseq"

pathoscope_db = "/ifs/data/nfs_share/ikmb_repository/databases/Pathoscope/2015-06"

kneaddata_db = "/ifs/data/nfs_share/ikmb_repository/databases/Kneaddata/11-2019/drupal/Homo_sapiens_Bowtie2_hg37_decoys_contaminants_v0.1"

params.ref = "/ifs/data/nfs_share/ikmb_repository/references/gatk/v2/hg38/Homo_sapiens_assembly38.fasta"

// Resource manager settings

executor {
  name="slurm"
  queueSize=50
}

singularity {
  enabled = true
  runOptions = "-B /ifs"
  cacheDir = "/ifs/data/nfs_share/ikmb_repository/singularity_cache"
}

// Process setting

process {

  // Global cluster parameters
  executor = 'slurm'
  queue = 'ikmb_new'
  clusterOptions = { '--qos=ikmb_a' }

}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 248.GB
  max_cpus = 20
  max_time = 240.h
  maxMultiqcEmailFileSize = 25.MB
}
