
// Job paramaters to set for this environment

params.metaphlan_db = "/ifs/data/nfs_share/ikmb_repository/databases/Chocophlan/12-2019/"

params.pathoscope_db = "/ifs/data/nfs_share/ikmb_repository/databases/Pathoscope/2015-06"

params.ref = "/ifs/data/nfs_share/ikmb_repository/references/gatk/v2/hg38/Homo_sapiens_assembly38.fasta"

// Resource manager settings

singularity {
  enabled = true
  runOptions = "-B /ifs"
  cacheDir = "/ifs/data/nfs_share/ikmb_repository/singularity_cache"
}

executor {
  name="slurm"
  queueSize=50
}

// Process setting

process {

  // Global cluster parameters
  executor = 'slurm'
  queue = 'ikmb_a'
  clusterOptions = { '--qos=ikmb_a' }

}
