
// Job paramaters to set for this environment

params.outdir = "output" 

// Software locations

params.metaphlan_pkl = "/ifs/data/nfs_share/ikmb_repository/databases/Metaphlan/2.0/mpa_v20_m200.pkl"
params.metaphlan_db = "/ifs/data/nfs_share/ikmb_repository/databases/Metaphlan/2.0/mpa_v20_m200"

//params.kaiju_db = "/ifs/data/nfs_share/ikmb_repository/databases/Kaiju/current/refseq"
params.kaiju_db = "/ifs/data/nfs_share/ikmb_repository/databases/Kaiju/2018-06/refseq"

params.pathoscope = "/ifs/data/nfs_share/ikmb_repository/software/pathoscope/2.0.6/pathoscope/pathoscope2.py"
params.pathoscope_index_dir = "/ifs/data/nfs_share/ikmb_repository/databases/Pathoscope/2015-06"

params.ref = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/clinical/hg19.clinical.fa"

params.ariba_db = "/ifs/data/nfs_share/ikmb_repository/databases/Ariba/2017-09-25/out.card.prepareref"

// Resource manager settings

executor {
  name="slurm"
  queueSize=50
}

// Process setting

process {

  // Global cluster parameters
  executor = 'slurm'
  queue = 'ikmb_new'
  clusterOptions = { '--qos=ikmb_a' }
  memory = { 8.GB * task.attempt }
  cpus = { 1 * task.attempt }
  time = { 2.h * task.attempt }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
 
  // Specific cluster parameters for each process

  $Merge {
	time = { 3.h * task.attempt }
  }

  $runMultiQCFastq {
	conda = [ 'multiqc=1.5' ]
	time = { 2.h * task.attempt }
  }

  $runBwa {
	conda = [ 'bwa=0.7.15', samtools=1.5' ]
	cpus = 10
	memory = { 32.GB * task.attempt }
	time = { 4.h * task.attempt }
  }

  $Trimgalore {
	conda = [ 'trim-galore=0.4.4' ]
	cpus = 4
  }
  
  $runAriba {
	conda = [ 'ariba=2.11.1' ]
  }

  $runPathoscopeMap {
	conda = [ 'pathoscope=2.0.6' ]
	cpus = 10
        memory = { 32.GB * task.attempt }
	time = { 3.h * task.attempt }
  }

  $runPathoscopeId {
	conda = [ 'pathoscope=2.0.6' ]
	time = { 3.h * task.attempt }
  }

  $runMetaphlan {
	conda = [ 'metaphlan2=2.7.7' ]
	cpus = 10
	memory = { 32.GB * task.attempt }
	time = { 3.h * task.attempt }
  }

  $runKaiju {
	conda = [ 'kaiju=1.6.2' ]
	cpus = 10
	memory = { 32.GB * task.attempt }
	time = { 1.h * task.attempt }
  }

   $runKaijuReport {
	conda = [ 'kaiju=1.6.2' ]
        cpus = 1
        memory = { 8.GB * task.attempt }
        time = { 1.h * task.attempt }
  }

}
