
// Job paramaters to set for this environment

params.outdir = "output" 

// Software locations

params.metaphlan_pkl = "/ifs/data/nfs_share/ikmb_repository/databases/Metaphlan/2.0/mpa_v20_m200.pkl"
params.metaphlan_db = "/ifs/data/nfs_share/ikmb_repository/databases/Metaphlan/2.0/mpa_v20_m200"

params.kaiju_report = "/ifs/data/nfs_share/ikmb_repository/software/kaiju/1.5.0/bin/kaijuReport"
params.kaiju_db = "/ifs/data/nfs_share/ikmb_repository/databases/Kaiju/current/refseq"

params.pathoscope_index_dir = "/ifs/data/nfs_share/ikmb_repository/databases/Pathoscope/2015-06"

// Trimmomatic configuration variables
params.leading = 3
params.trailing = 3
params.slidingwindow = "4:15"
params.minlen = 75
params.adapters = "NexteraPE-PE.fa"


// Resource manager settings

executor {
  name="slurm"
  queueSize=50
}

// Process setting

process {

  // Global cluster parameters
  executor = 'slurm'
  queue = 'ikmb_new'
  clusterOptions = { '--qos=ikmb_a' }
  memory = { 8.GB * task.attempt }
  cpus = { 1 * task.attempt }
  time = { 2.h * task.attempt }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
 
  // Specific cluster parameters for each process

  $Merge {
	time = { 3.h * task.attempt }
  }

  $Trimmomatic {
	cpus = 10
        memory = { 16.GB * task.attempt }
  }

  $runPathoscopeMap {
	cpus = 10
        memory = { 32.GB * task.attempt }
	time = { 3.h * task.attempt }
  }

  $runPathoscopeId {
	time = { 3.h * task.attempt }
  }

  $runMetaphlan {
	cpus = 10
	memory = { 32.GB * task.attempt }
	time = { 3.h * task.attempt }
  }

  $runKaiju {
	cpus = 20
	memory = { 32.GB * task.attempt }
	time = { 1.h * task.attempt }
  }

   $runKaijuReport {
        cpus = 1
        memory = { 8.GB * task.attempt }
        time = { 1.h * task.attempt }
  }

}
