
// Job paramaters to set for this environment

params.outdir = "output" 

// Software locations

params.metaphlan_pkl = "/ifs/data/nfs_share/ikmb_repository/databases/Metaphlan/2.0/mpa_v20_m200.pkl"
params.metaphlan_db = "/ifs/data/nfs_share/ikmb_repository/databases/Metaphlan/2.0/mpa_v20_m200"

//params.kaiju_db = "/ifs/data/nfs_share/ikmb_repository/databases/Kaiju/current/refseq"
params.kaiju_db = "/ifs/data/nfs_share/ikmb_repository/databases/Kaiju/2018-06/refseq"

params.pathoscope = "/ifs/data/nfs_share/ikmb_repository/software/pathoscope/2.0.6/pathoscope/pathoscope2.py"
params.pathoscope_index_dir = "/ifs/data/nfs_share/ikmb_repository/databases/Pathoscope/2015-06"

params.ref = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/clinical/hg19.clinical.fa"

params.ariba_db = "/ifs/data/nfs_share/ikmb_repository/databases/Ariba/2017-09-25/out.card.prepareref"

// Resource manager settings

executor {
  name="slurm"
  queueSize=50
}

// Process setting

process {

  // Global cluster parameters
  executor = 'slurm'
  queue = 'ikmb_new'
  clusterOptions = { '--qos=ikmb_a' }

}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 248.GB
  max_cpus = 20
  max_time = 240.h
  maxMultiqcEmailFileSize = 25.MB
}
